<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">

<title>Insert title here</title>
</head>
<body>
   <div th:switch="${expertes}">
     <div class="row">
         <div>
             <h2 th:case="null">Dashboard</h2>
             <div th:case="*">
               
                 <table border="1">
                     <thead>
                         <tr>
                             <th>First name</th>
                             <th>Last name</th>
                             
                         </tr>
                     </thead>
                     <tbody>
                         <tr th:each="experte : ${experts}">
                             <td th:utext="${firstName}"></td>
                             <td th:utext="${lastName}"></td>
                             
                         </tr>
                     </tbody>
                 </table>
             </div>      
             <p><a href="/all">Show Experts list</a></p>
         </div>
     </div>
   </div>

</body>
</html>