<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Ajouter une maladie</title>
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="../static/css/myStyle.css"
	th:href="@{/css/myStyle.css}" />
</head>
<body>
<!--===============================================================================================-->	
<nav class="navbar navbar-green default-color">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">DiagnoPlant</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a th:href="@{/pageexpert}">Home</a></li>
      <li class="active"><a  th:href="@{/listMaladiePlant}">Consulter les fiches des maladies</a></li>
      <li><a href="ajoutermaladie">Ajouter une nouvelle maladie</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="/logout"><span class="glyphicon glyphicon-log-in"></span> LogOut</a></li>
    </ul>
  </div>
</nav>
<!--===============================================================================================-->	


	<div class="container spacer">
		<div class="panel panel-primary">
			<div class="panel-heading">Ajouter une nouvelle maladie</div>
				<div class="panel-body">
				<form th:action="@{ajoutermaladie}" method="post"
					th:object="${maladiePlante}">
		
					<fieldset>
						<input placeholder="La maladie" type="text" th:field="*{nomMaladie}"
							 required>
					</fieldset>
					<fieldset>
						<textarea placeholder="Les symptomes" 
							th:field="*{symptomes}"  required></textarea>
					</fieldset>
					<fieldset>
						<textarea placeholder="Les causes"  th:field="*{causes}"
							 required></textarea>
					</fieldset>
					<fieldset>
						<textarea placeholder="Le traitement" th:field="*{traitement}"
							 required></textarea>
					</fieldset>
					<fieldset>
						<textarea placeholder="Les actions préventives"
							th:field="*{actionsPreventives}"  required></textarea>
					</fieldset>
		
		
					<fieldset>
						<button class="btn btn-primary">Valider</button>
		
					</fieldset>
		
				</form>
				</div>
		</div>
	</div>



</body>
</html>