<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Page accueil</title>
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="../static/css/myStyle.css"
	th:href="@{/css/myStyle.css}" />

</head>
<body>	
	<!--===============================================================================================-->	
<nav class="navbar navbar-green default-color">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">DiagnoPlant</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="/home">Home</a></li>
      <li><a href="avisexpert">Avis expert</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="/logout"><span class="glyphicon glyphicon-log-in"></span> LogOut</a></li>
    </ul>
  </div>
</nav>
<!--===============================================================================================-->	
	<h1>Les avis de l'expert</h1>
	
	<ul th:each="e:${image.content}" th:if="${e.etatTraitement}">

		<li><a th:href="@{reponseexpert(id =${e.id})}"> <img
			   th:src="@{avisexpert(id =${e.id})}" width="200" height="200" />
		</a>
		<p th:text="${e.id}"></p>

	</ul>

	<ul class="nav nav-pills">
		<li th:each="page,status:${pages}"><a
			th:class="${status.index==currentpage}?'btn btn-primary':'btn'"
			th:href="@{avisexpert(page=${status.index}, size=${size})}"
			th:text="${status.index}"> </a></li>
	</ul>


</body>
</html>