<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Ajouter une maladie</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    
    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css"
        th:href="@{/css/bootstrap.min.css}"/>
        
    <link rel="stylesheet" type="text/css" href="../static/css/myStyle.css"
        th:href="@{/css/myStyle.css}"/>
</head>
<body>
    
    <div > 
	   <a href="pageexpert"> Retour page expert   </a> 
    </div>
    
   Votre enregistrement a été bien effectuée
    
    
</body>
</html>