<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<head>
<meta charset="UTF-8">
<title>Disabled</title>
</head>
<body>

<nav class="navbar navbar-expand-sm bg-success navbar-dark">
  <ul class="navbar-nav">
    <li class="nav-item active">
      <a class="nav-link" th:href="@{/Home}">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" th:href="@{/uploadForm}">Upload</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" th:href="@{/list}">List</a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled" th:href="@{/Disabled}">Disabled</a>
    </li>
  </ul>
</nav>
</body>
</html>