<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="../static/css/myStyle.css"
	th:href="@{/css/myStyle.css}" />
<head>
<title>Donner Avis</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<!--===============================================================================================-->	
<nav class="navbar navbar-green default-color">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">DiagnoPlant</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a th:href="@{/pageexpert}">Home</a></li>
      <li class="active"><a  th:href="@{/listMaladiePlant}">Consulter les fiches des maladies</a></li>
      <li><a href="ajoutermaladie">Ajouter une nouvelle maladie</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="/logout"><span class="glyphicon glyphicon-log-in"></span> LogOut</a></li>
    </ul>
  </div>
</nav>
<!--===============================================================================================-->	

<body>
	
	<div align="center">
		<h1>Avis de l'expert</h1>
	</div>

	
	<br />

	<div style="margin: 30px 50px">
		<table>
			<thead>
				<tr>
					<th>Nom image</th>
				</tr>
			</thead>

			<tbody>
				<tr th:each="e:${image}">

					<td th:text="${e.image}"></td>

				</tr>

			</tbody>
		</table>

	</div>

	<div align="center">
		<img th:src="@{pageexpert (id=${image.id})}" width="300" height="300" /><br>
	</div>



	 

	<div style="margin: 30px 50px" class="panel panel-primary">
		<div class="panel-heading">Choisissez la maladie de la plante :</div>
			<div class="panel-body">
				<form action="#" th:action="@{/donneravis}" name='f'
					th:object="${magic}" method="post">
					<!--       <form action="#" th:action="@{/avis}"  th:object="${maladiePlante}"  method="get" > -->
		
		
		
		
					<input type="hidden" th:field="*{id}"> 
					<input type="hidden" th:field="*{image}">
					<input type="hidden" th:field="*{user}">
					<select th:field="*{maladiePlante}">
						<option value=""></option>		
						<option th:each="i:${maladie}" th:value="${i.idMaladiePlante}"
							th:text="${i.nomMaladie}">
						</option>
					</select><br><br>
		
		
					<label>Informations complementaires</label><br>
					<textarea  th:field="*{infosCompl}"></textarea> <br>
					<button class="btn btn-primary">Valider</button>
		
				</form>
			</div>
	</div>


</body>
</html>