<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="../static/css/myStyle.css"
	th:href="@{/css/myStyle.css}" />
<title>Info MaladiePlante</title>
</head>
<body>
	<div class="container spacer">
		<div class="panel panel-primary">
			<div class="panel-heading">Liste des maladie plantes</div>
			<div class="panel-body">
				<div>
					<nav aria-label="...">
						<ul class="pager">
							<li class="next"><a th:href="@{listMaladiePlant}"> <span
									aria-hidden="true">&larr;</span> Retour à la liste 
							</a></li>
						</ul>
					</nav>
				</div>
				<table class="table">
					<tr>
						<th>nomMaladie</th>
						<th>symptomes</th>
						<th>causes</th>
						<th>traitement</th>
						<th>actionsPreventives</th>
					</tr>
					<tr th:each="m:${infoMaladieP}">
						<td th:text="${m.nomMaladie}"></td>
						<td th:text="${m.symptomes}"></td>
						<td th:text="${m.causes}"></td>
						<td th:text="${m.traitement}"></td>
						<td th:text="${m.actionsPreventives}"></td>
					</tr>
				</table>
			</div>
		</div>
	</div>
</body>
</html>