<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Page accueil</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css"
	href="../static/css/bootstrap.min.css"
	th:href="@{/css/bootstrap.min.css}" />

<link rel="stylesheet" type="text/css" href="../static/css/myStyle.css"
	th:href="@{/css/myStyle.css}" />

</head>
<body>
	<h1>Bienvenue sur la page Expert</h1>
	
	<tr th:each="e:${image.content}" th:unless="${e.etatTraitement}">

		<td><a th:href="@{donneravis(id =${e.id})}"> <img
				th:src="@{pageexpert(id =${e.id})}" width="200" height="200" />
		</a>
		<td th:text="${e.id}"></td>

	</tr>

	<ul class="nav nav-pills">
		<li th:each="page,status:${pages}"><a
			th:class="${status.index==currentpage}?'btn btn-primary':'btn'"
			th:href="@{pageexpert(page=${status.index}, size=${size})}"
			th:text="${status.index}"> </a></li>
	</ul>


</body>
</html>