<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Ajouter une maladie</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="../static/css/myStyle.css"
	th:href="@{/css/myStyle.css}" />
</head>
<body>
	<nav aria-label="...">
		<ul class="pager">
	    	<li class="next"><a th:href="@{pageexpert}">
	    		<span aria-hidden="true">&larr;</span> Retour page expert</a>
	  		</li>
		</ul>
	</nav>

    
     <h2 align="center">Votre enregistrement a été bien effectuée</h2>
    
    
</body>
</html>