<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Page accueil</title>
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="../static/css/myStyle.css"
	th:href="@{/css/myStyle.css}" />
</head>
<body>
	
<!--===============================================================================================-->	
<nav class="navbar navbar-green default-color">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">DiagnoPlant</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a th:href="@{/pageexpert}">Home</a></li>
      <li class="active"><a  th:href="@{/listMaladiePlant}">Consulter les fiches des maladies</a></li>
      <li><a href="ajoutermaladie">Ajouter une nouvelle maladie</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="/logout"><span class="glyphicon glyphicon-log-in"></span> LogOut</a></li>
    </ul>
  </div>
</nav>
<!--===============================================================================================-->	
	
	<h1>Bienvenue sur la page Expert</h1>
	
	<div align="center" th:each="e:${image.content}" th:unless="${e.etatTraitement}">

		<a th:href="@{donneravis(id =${e.id})}"> <img
			   th:src="@{pageexpert(id =${e.id})}" width="200" height="200" />
		</a>
		<p th:text="${e.id}"></p>

	</div>
	<div align="center">
		<ul class="nav nav-pills">
			<li th:each="page,status:${pages}"><a
				th:class="${status.index==currentpage}?'btn btn-primary':'btn'"
				th:href="@{pageexpert(page=${status.index}, size=${size})}"
				th:text="${status.index}"> </a></li>
		</ul>
	</div>
</body>
</html>