<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    
    <div class="container">  
  <form id="contact" action="" method="post">
    <h3>L'image à traiter</h3>
    
    <fieldset>
    <p th:text="'Hello, ' + ${name} + '!'" />
      L'image
      <img th:src="@{/images/{im}(im=${im})}"  height="300" width="300">  </br>
      <img src= />
    </fieldset>
    <fieldset>
      <input placeholder="La plante" type="text" tabindex="1" required autofocus>
    </fieldset>
    <fieldset>
      <input placeholder="La maladie" type="email" tabindex="2" required>
    </fieldset>
    <fieldset>
      <input placeholder="Les symptomes" type="tel" tabindex="3" required>
    </fieldset>
    <fieldset>
      <input placeholder="Les causes" type="url" tabindex="4" required>
    </fieldset>
    <fieldset>
      <textarea placeholder="Le traitement" tabindex="5" required></textarea>
    </fieldset>
     <fieldset>
      <textarea placeholder="Les actions préventives" tabindex="5" required></textarea>
    </fieldset>
    <fieldset>
      <button name="submit" type="submit" id="contact-submit" data-submit="...Sending">Valider</button>
    </fieldset>
  
  </form>
</div>
    
    
    
</body>
</html>